src/main/resources/xsd/ClassificationsList_Categories.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CLASSIFICATIONSLIST_CATEGORIES">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CLASSIFICATIONSLIST_ITEM" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ClassificationsList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ClassificationsList_ITEM" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ClassificationScheme">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:int" name="PublicId"/>
                                <xs:element type="xs:string" name="ContextName"/>
                                <xs:element type="xs:byte" name="ContextVersion"/>
                                <xs:element type="xs:string" name="PreferredName"/>
                                <xs:element type="xs:byte" name="Version"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="ClassificationSchemeItemName"/>
                          <xs:element type="xs:string" name="ClassificationSchemeItemType"/>
                          <xs:element type="xs:int" name="CsiPublicId"/>
                          <xs:element type="xs:byte" name="CsiVersion"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="num" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>